In [1]:
import copy

import numpy as np
import pandas as pd

from hypex.dataset.dataset import Dataset, ExperimentData
from hypex.dataset.roles import *

# Dataset

### Create Dataset
    Initializes a new instance of the Dataset class.

        Args:
            roles (Union[Dict[ABCRole, Union[List[Union[str, int]], str, int]], Dict[Union[str, int], ABCRole]]): A dictionary mapping roles to their corresponding column names or types.
            data (Optional[Union[pd.DataFrame, str]]): The data to be used for the dataset. Can be either a pandas DataFrame or a file path. Defaults to None.
            backend (Optional[BackendsEnum]): The backend to be used for the dataset. Defaults to None.

        Returns:
            Dataset: The newly created Dataset.

In [2]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})

ds = Dataset({'a': TargetRole(), 'b': TargetRole(float)}, data=df)
ds

   a  b
0  1  4
1  2  5
2  3  6

### Roles
    Returns the roles of the dataset.

In [3]:
ds.roles

{'a': Target(<class 'int'>), 'b': Target(<class 'float'>)}

### Create empty
    Creates an empty Dataset.
        Parameters:
            backend (BackendsEnum, optional): The backend to use for the Dataset. Defaults to BackendsEnum.pandas.
            roles (dict, optional): The roles to assign to the Dataset. Defaults to None.
            index (list, optional): The index to use for the Dataset. Defaults to None.
        Returns:
            Dataset: The newly created empty Dataset.

In [39]:
ds_empty = Dataset.create_empty()

### Columns
    A property to access the columns in the dataset.

In [40]:
ds_empty.columns

Index([], dtype='object')

### Index
    Returns the index of the dataset.

        Returns:
            Any: The index of the dataset.

In [6]:
ds.index

RangeIndex(start=0, stop=3, step=1)

### Backend
    Returns the backend object associated with this instance of the dataset.

        Returns:
            Backend: The backend object.

In [41]:
ds_empty.backend

Empty DataFrame
Columns: []
Index: []

### Data
    Provides the direct access to the data of the _backend object.

    Returns:
        Any: The data property of the _backend object.

In [7]:
type(ds.data)

pandas.core.frame.DataFrame

In [8]:
ds.data

   a  b
0  1  4
1  2  5
2  3  6

# Dataset Methods

### From dict
    Create a new `Dataset` object from a dictionary of data and roles.
        Args:
            data (FromDictTypes): The data to be converted into a `Dataset`.
            roles (Union[Dict[ABCRole, Union[List[Union[str, int]], str, int]], Dict[Union[str, int], ABCRole]]):
                A dictionary mapping roles to column names or indices.
            backend (BackendsEnum, optional): The backend to use for the `Dataset`. Defaults to `BackendsEnum.pandas`.
            index (Any, optional): The index to use for the `Dataset`. Defaults to None.
        Returns:
            Dataset: A new `Dataset` object created from the data and roles.

In [42]:
ds_from_dict = Dataset.from_dict({'a': [1, 2], 'b': [3, 4]}, {'a': TargetRole(), 'b': InfoRole()})

In [43]:
ds_from_dict

   a  b
0  1  3
1  2  4

In [44]:
ds_from_dict.roles

{'a': Target(None), 'b': Info(None)}

In [45]:
ds

   a  b  c  new  f  e
0  1  4  7   15  8  1
1  2  5  8   17  9  2
2  3  6  9   19  7  3

### Search Columns
    Searches for columns in the dataset based on the given roles.

    Args:
        roles (Union[ABCRole, Iterable[ABCRole]]): The roles to search for.
        tmp_role (bool, optional): Whether to search in temporary roles. Defaults to False.
        search_types (Optional[List], optional): The types to search for. Defaults to None.
    
    Returns:
        List[str]: A list of column names matching the given roles.

In [4]:
ds.search_columns(TargetRole(), search_types=[int])

['a']

In [5]:
ds['a']

   a
0  1
1  2
2  3

### Min

    Calculate the minimum value in the dataset.
        
        Returns:
            The minimum value after data aggregation.

In [9]:
ds.min()

     a  b
min  1  4

### Getitem
    Retrieves an item from the dataset based on the specified index and returns a new Dataset object containing the retrieved data along with the corresponding roles.
        
        Parameters:
            item: The index or indices to locate the item(s) in the dataset.
            
        Returns:
            Dataset: A new Dataset object containing the retrieved data and roles.

In [10]:
ds[1]

   1
a  2
b  5

In [11]:
ds['a'][1]

   1
a  2

In [12]:
ds.data[ds.data[['a', 'b']] == 4]

    a    b
0 NaN  4.0
1 NaN  NaN
2 NaN  NaN

In [13]:
ds[ds[['a', 'b']] == 4]

    a    b
0 NaN  4.0
1 NaN  NaN
2 NaN  NaN

### Add column

    Adds a new column to the dataset.
        Args:
            data (Union[Dataset, Any]): The data to be added as a column. If `role` is not provided, `data`
                must be an instance of `Dataset`. Otherwise, it can be any type of data.
            role (Optional[Dict[str, ABCRole]]): The role of the column. If not provided, the roles from
                `data` will be updated. Defaults to None.
            index (Optional[Iterable[Hashable]]): The index of the column. Defaults to None.
        Returns:
            Dataset: The updated dataset with the new column added.
        Raises:
            ValueError: If `role` is not provided and `data` is not an instance of `Dataset`.

In [14]:
ds.add_column([7, 8, 9], {'c': TargetRole(int)})
ds

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

### Map
    Apply a function to each element of the dataset.
        Args:
            func (Callable): The function to apply to each element.
            na_action (Optional[str]): The action to take when encountering missing values.
                Defaults to None.
            **kwargs: Additional keyword arguments to pass to the function.
        Returns:
            Dataset: A new dataset with the function applied to each element.

In [15]:
ds['a'].map(lambda x: x * 2)

   a
0  2
1  4
2  6

### Unique
    Returns the unique values in the dataset.
        Returns:
            Any: The unique values in the dataset.

In [16]:
ds.unique()

{'a': array([1, 2, 3]), 'b': array([4, 5, 6]), 'c': array([7, 8, 9])}

### Num of unique
    Returns a dictionary containing the number of unique values for each column in the dataset.

        Args:
            dropna (bool, optional): If True, rows with missing values are not counted. Defaults to False.

        Returns:
            Dict[FieldKeyTypes, int]: A dictionary where the keys are the column names and the values are the number of unique values in each column.

In [17]:
ds.nunique()

{'a': 3, 'b': 3, 'c': 3}

### Apply
    Apply a function to a specific column of the dataset.
        Args:
            func (Callable): The function to be applied.
            role (Dict[FieldKeyTypes, ABCRole]): A dictionary mapping column names to their roles.
            axis (int, optional): The axis along which the function is applied. Defaults to 0.
            **kwargs: Additional keyword arguments to be passed to the function.
        Returns:
            Dataset: A new dataset with the applied function.

In [18]:
ds.apply(func=lambda x: x['a'] + x['c'] + 7, role={"new": InfoRole()}, axis=1)

   new
0   15
1   17
2   19

In [19]:
print(ds.roles)

{'a': Target(<class 'int'>), 'b': Target(<class 'float'>), 'c': Target(<class 'int'>)}

In [20]:
ds.add_column(ds.apply(func=lambda x: x['a'] + x['c'] + 7, role={"new": InfoRole()}, axis=1))
ds

   a  b  c  new
0  1  4  7   15
1  2  5  8   17
2  3  6  9   19

In [21]:
ds.roles

{'a': Target(<class 'int'>),
 'b': Target(<class 'float'>),
 'c': Target(<class 'int'>),
 'new': Info(<class 'int'>)}

In [22]:
ds.add_column([7, 8, 9], {'f': TargetRole(int)}, index=[2, 0, 1])

   a  b  c  new  f
0  1  4  7   15  8
1  2  5  8   17  9
2  3  6  9   19  7

In [23]:
ds

   a  b  c  new  f
0  1  4  7   15  8
1  2  5  8   17  9
2  3  6  9   19  7

In [24]:
ds['e'] = [1, 2, 3]
ds

/home/tony_katkov/job/HypEx/hypex/dataset/dataset.py:104: SyntaxWarning: Column must be added by add_column
  warnings.warn("Column must be added by add_column", category=SyntaxWarning)

   a  b  c  new  f  e
0  1  4  7   15  8  1
1  2  5  8   17  9  2
2  3  6  9   19  7  3

### Set item
    A method to set an item in the Dataset object using a key and value.

        Parameters:
            key (str): The key to identify the item in the Dataset.
            value (Any): The value to be set for the key. If the value is a Dataset, its data attribute is used.

        Returns:
            None

In [25]:
ds['a'][1] = 1
ds

   a  b  c  new  f  e
0  1  4  7   15  8  1
1  2  5  8   17  9  2
2  3  6  9   19  7  3

### Is in
    Returns a new Dataset object with the same roles as the current Dataset, but with the data filtered to only include rows where the values in the columns match any of the values in the given iterable.

        Args:
            values (Iterable): An iterable of values to match against.

        Returns:
            Dataset: A new Dataset object with the filtered data.

In [26]:
ds.isin([3, 8])

       a      b      c    new      f      e
0  False  False  False  False   True  False
1  False  False   True  False  False  False
2   True  False  False  False  False   True

In [27]:
ds.roles

{'a': Target(<class 'int'>),
 'b': Target(<class 'float'>),
 'c': Target(<class 'int'>),
 'new': Info(<class 'int'>),
 'f': Target(<class 'int'>),
 'e': Info(None)}

### Groupby
    Groups the data in the Dataset object by the specified column(s) and applies optional aggregation functions.
        Parameters:
            by (Any): The column(s) to group the data by.
            func (Optional[Union[str, List]]): The aggregation function(s) to apply to each group. Defaults to None.
            fields_list (Optional[Union[str, List]]): The columns to include in each group. Defaults to None.
            **kwargs: Additional keyword arguments to pass to the underlying backend's groupby method.
        Returns:
            List[Tuple[Any, Dataset]]: A list of tuples, where each tuple contains the group key and the corresponding Dataset object.
        Note:
            - If `fields_list` is provided, only the specified columns will be included in each group.
            - If `func` is provided, the aggregation function(s) will be applied to each group.
            - The `tmp_roles` attribute of each Dataset object in the returned list will be set to the `tmp_roles` attribute of the original Dataset object.

In [28]:
groups_func = ds.groupby('a', func='mean')
print(groups_func)

[(1,         a    b    c   new    f    e
mean  1.0  4.0  7.0  15.0  8.0  1.0), (2,         a    b    c   new    f    e
mean  2.0  5.0  8.0  17.0  9.0  2.0), (3,         a    b    c   new    f    e
mean  3.0  6.0  9.0  19.0  7.0  3.0)]

In [29]:
groups = ds.groupby('a')
print(groups)

[(1,    a  b  c  new  f  e
0  1  4  7   15  8  1), (2,    a  b  c  new  f  e
1  2  5  8   17  9  2), (3,    a  b  c  new  f  e
2  3  6  9   19  7  3)]

In [30]:
groups_func_fields = ds.groupby('a', func=['mean', 'var'], fields_list='e')
print(groups_func_fields)

[(1,         e
mean  1.0
var   NaN), (2,         e
mean  2.0
var   NaN), (3,         e
mean  3.0
var   NaN)]

### Sort
    Sorts the data in the Dataset object based on the specified fields.

        Parameters:
            by (Optional[MultiFieldKeyTypes]): The fields to sort the data by. If None, the data will be sorted based on the index. Defaults to None.
            ascending (bool): Whether to sort the data in ascending order. Defaults to True.
            **kwargs: Additional keyword arguments to be passed to the sorting function.

        Returns:
            Dataset: A new Dataset object with the sorted data.

In [31]:
ds.sort('a', ascending=False)

   a  b  c  new  f  e
2  3  6  9   19  7  3
1  2  5  8   17  9  2
0  1  4  7   15  8  1

### Fillna
    Fills missing values in the dataset with the specified values.
        Args:
            values (Union[int, Dict[FieldKeyTypes, FieldKeyTypes]]): The values to fill missing data with. If an integer is provided, all missing values will be filled with that integer. If a dictionary is provided, the keys represent the fields to fill missing data in, and the values represent the values to fill the missing data with.
            method (Optional[str]): The method to use for filling missing data. Must be one of "backfill", "bfill", or "ffill". If not provided, missing data will be filled with the specified values.
            **kwargs: Additional keyword arguments to be passed to the fillna function.
        Returns:
            Dataset: A new Dataset object with the filled data.
        Raises:
            NameError: If an unsupported fill method is provided.

In [32]:
fds = copy.deepcopy(ds)
fds.add_column([0, np.NaN, 2], {'g': InfoRole(int)})
fds

   a  b  c  new  f  e    g
0  1  4  7   15  8  1  0.0
1  2  5  8   17  9  2  NaN
2  3  6  9   19  7  3  2.0

In [33]:
fds.fillna(42)

   a  b  c  new  f  e     g
0  1  4  7   15  8  1   0.0
1  2  5  8   17  9  2  42.0
2  3  6  9   19  7  3   2.0

### Agg
    Perform an aggregation operation using the specified function(s) on the dataset.
        
        Parameters:
            func (Union[str, List]): The aggregation function or list of functions to apply.
        
        Returns:
            The aggregated data after applying the specified function(s).

In [34]:
ds.agg(['sum', 'mean'])

        a     b     c   new     f    e
sum   6.0  15.0  24.0  51.0  24.0  6.0
mean  2.0   5.0   8.0  17.0   8.0  2.0

### Simple math methods

In [35]:
ds.mean()

        a    b    c   new    f    e
mean  2.0  5.0  8.0  17.0  8.0  2.0

In [36]:
ds.count()

       a  b  c  new  f  e
count  3  3  3    3  3  3

In [37]:
ds.log()

          a         b         c       new         f         e
0  0.000000  1.386294  1.945910  2.708050  2.079442  0.000000
1  0.693147  1.609438  2.079442  2.833213  2.197225  0.693147
2  1.098612  1.791759  2.197225  2.944439  1.945910  1.098612

### Index max
    Returns the index of the maximum value in each group of the dataset.
        
        Returns:
            The result of calling `idxmax` on the `_backend` attribute of the dataset.

In [38]:
ds[['a', 'b']].idxmax()

        a  b
idxmax  2  2

### Correlation
    Calculate the correlation matrix of the dataset.
        Parameters:
            method (str, optional): The method to use for calculating the correlation. Defaults to "pearson".
            numeric_only (bool, optional): Whether to calculate the correlation only for numeric columns. Defaults to False.
        Returns:
            Dataset: A new Dataset object with the correlation matrix.

In [51]:
ds.corr()

       a    b    c  new    f    e
a    1.0  1.0  1.0  1.0  0.0  1.0
b    1.0  1.0  1.0  1.0  0.0  1.0
c    1.0  1.0  1.0  1.0  0.0  1.0
new  1.0  1.0  1.0  1.0  0.0  1.0
f    0.0 -0.5  0.0  0.0  1.0  0.0
e    1.0  1.0  1.0  1.0  0.0  1.0

### Quantile
    Calculate the quantile of the data.
        Args:
            q (float, optional): The quantile to calculate. Defaults to 0.5.
        Returns:
            Dataset: A new Dataset object with the quantile values calculated.

In [53]:
ds.quantile(0.3)

            a    b    c   new    f    e
quantile  1.6  4.6  7.6  16.2  7.6  1.6

### Select dtypes
    Selects columns from the dataset based on the data types.
        Args:
            include (Any, optional): A list of data types to include. Defaults to None.
            exclude (Any, optional): A list of data types to exclude. Defaults to None.
        Returns:
            Dataset: A new dataset with the selected columns and roles.

### Merge
    Merges this Dataset with another Dataset using specified columns or indices.
        Parameters:
            right: Dataset - The Dataset to merge with.
            on: Optional[FieldKeyTypes] - Columns to join on from both Datasets.
            left_on: Optional[FieldKeyTypes] - Columns from this Dataset to join on.
            right_on: Optional[FieldKeyTypes] - Columns from the other Dataset to join on.
            left_index: bool - Use the index from this Dataset as the merge key.
            right_index: bool - Use the index from the other Dataset as the merge key.
            suffixes: tuple[str, str] - Suffixes to append to overlapping column names.
            how: Literal["left", "right", "outer", "inner", "cross"] - Type of merge to perform.
        Returns:
            Dataset - A new Dataset resulting from the merge operation.

In [54]:
ds.merge(ds)

   a_x  b_x  c_x  new_x  f_x  e_x  a_y  b_y  c_y  new_y  f_y  e_y
0    1    4    7     15    8    1    1    4    7     15    8    1
1    2    5    8     17    9    2    2    5    8     17    9    2
2    3    6    9     19    7    3    3    6    9     19    7    3

In [58]:
ds.merge(ds, left_on='a', right_index=True, suffixes=('_this', '_other'))

   a  a_this  b_this  c_this  new_this  f_this  e_this  a_other  b_other  \
0  1       1       4       7        15       8       1        2        5
1  2       2       5       8        17       9       2        3        6

   c_other  new_other  f_other  e_other
0        8         17        9        2
1        9         19        7        3

### Transpose
    Transposes the dataset based on the specified roles.
        Args:
            roles (Optional[Union[Dict[Union[str, int], ABCRole], List]]): The roles to transpose the dataset. If a dictionary is provided, the keys are the roles to transpose and the values are the corresponding column names. If a list is provided, the roles are inferred from the column names. If not provided, the roles are inferred from the column names.
        Returns:
            Dataset: The transposed dataset.

In [62]:
ds.transpose({'one': FeatureRole(), '2': InfoRole(), 'III': InfoRole()})

     one   2  III
a      1   2    3
b      4   5    6
c      7   8    9
new   15  17   19
f      8   9    7
e      1   2    3

In [67]:
ds.transpose()

      0   1   2
a     1   2   3
b     4   5   6
c     7   8   9
new  15  17  19
f     8   9   7
e     1   2   3

In [66]:
ds.transpose().roles

{0: Feature(<class 'int'>),
 1: Feature(<class 'int'>),
 2: Feature(<class 'int'>)}

### Shuffle
    Shuffles the dataset using the backend's shuffle method.
        Parameters:
            random_state (Optional[int]): Optional random state for reproducibility.
        Returns:
            Dataset: A new Dataset object with shuffled data.

In [79]:
ds.shuffle()

   a  b  c  new  f  e
1  2  5  8   17  9  2
0  1  4  7   15  8  1
2  3  6  9   19  7  3

In [81]:
ds.shuffle()

   a  b  c  new  f  e
2  3  6  9   19  7  3
0  1  4  7   15  8  1
1  2  5  8   17  9  2

In [80]:
ds.shuffle(random_state=42)

   a  b  c  new  f  e
0  1  4  7   15  8  1
1  2  5  8   17  9  2
2  3  6  9   19  7  3

### Rename
    Renames the columns of the dataset based on the provided dictionary of names.
        Args:
            names (Dict[FieldKeyTypes, FieldKeyTypes]): A dictionary mapping old column names to new column names.
        Returns:
            Dataset: A new Dataset object with the renamed columns.

In [68]:
ds.rename({'a': 'A', 'b': 'B', 'c': 'C'})

   A  B  C  new  f  e
0  1  4  7   15  8  1
1  2  5  8   17  9  2
2  3  6  9   19  7  3

### Replace
    Replaces values in the dataset.
        Args:
            to_replace (Any, optional): The value to be replaced. Defaults to None.
            value (Any, optional): The new value. Defaults to None.
            regex (bool, optional): Whether to use regular expressions. Defaults to False.
        Returns:
            Dataset: A new dataset with the replaced values.

In [90]:
dsr = copy.deepcopy(ds)
dsr.replace(2, 15)

    a  b  c  new  f   e
0   1  4  7   15  8   1
1  15  5  8   17  9  15
2   3  6  9   19  7   3

### Append
    Append the given `other` dataset to the current dataset.
        Args:
            other (Dataset or List[Dataset]): The dataset(s) to append.
            index (bool, optional): Whether to append the dataset(s) to the current dataset.
                Defaults to False.
        Returns:
            Dataset: The new dataset after appending.
        Raises:
            ConcatDataError: If the `other` dataset is not an instance of `Dataset`.
            ConcatBackendError: If the backend of the `other` dataset is different from the current dataset.

In [46]:
ds.append(ds)

   a  b  c  new  f  e
0  1  4  7   15  8  1
1  2  5  8   17  9  2
2  3  6  9   19  7  3
0  1  4  7   15  8  1
1  2  5  8   17  9  2
2  3  6  9   19  7  3

In [47]:
display(ds_from_dict.roles)
ds_from_dict.rename({'b': 'B', 'a': 'V'})

{'a': Target(None), 'b': Info(None)}

   V  B
0  1  3
1  2  4

# Eperiment Data

In [48]:
ed = ExperimentData(ds)

In [49]:
ed.additional_fields

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [50]:
ed.additional_fields.loc[:, :]

Empty DataFrame
Columns: []
Index: [0, 1, 2]