# Matching pipline

The comparison method is used in statistical analysis to eliminate distortions caused by differences in the basic characteristics of the studied groups. Simply put, matching helps to make sure that the results of the experiment are really caused by the studied effect, and not by external factors.

Matching is most often performed in cases where the use of a standard AB test is impossible.

In [1]:
import copy

from hypex.dataset import Dataset, InfoRole, TreatmentRole, TargetRole 
from hypex.experiments.matching import Matching

C:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Data preparation 

It is important to mark the data fields by assigning the appropriate roles:

* FeatureRole: a role for columns that contain features or predictor variables. Our split will be based on them. Applied by default if the role is not specified for the column.
* TreatmentRole: a role for columns that show the treatment or intervention.
* TargetRole: a role for columns that show the target or outcome variable.
* InfoRole: a role for columns that contain information about the data, such as user IDs.

In [2]:
data = Dataset(
    roles={
        "user_id": InfoRole(int),
        "treat": TreatmentRole(int), 
        "post_spends": TargetRole(float)
    }, data="data.csv",
)
data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444   NaN      M
1           1             8      1       512.5   462.222222  26.0    NaN
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

        industry
0     E-commerce
1     E-commerce
2      Logistics
3     E-commerce
4     E-commerce
...          ...
9995   Logistics
9996   Logistics
9997  E-commerce
9998  E-commerce
9999  E-commerce

[10000 rows x 8 columns]

In [3]:
data.roles

{'user_id': Info(<class 'int'>),
 'treat': Treatment(<class 'int'>),
 'post_spends': Target(<class 'float'>),
 'signup_month': Feature(<class 'int'>),
 'pre_spends': Feature(<class 'float'>),
 'age': Feature(<class 'float'>),
 'gender': Feature(<class 'str'>),
 'industry': Feature(<class 'str'>)}

## Simple Matching  
Now matching has 4 steps: 
1. Dummy Encoder 
2. Process Mahalanobis distance 
3. Two sides pairs searching by faiss 
4. Metrics (ATT, ATC, ATE) estimation depends on your data

In [4]:
c_data = copy.deepcopy(data)
test = Matching()
result = test.execute(c_data)

In [5]:
result.full_data["user_id_matched"].value_counts()

    user_id_matched  count
0                -1   5336
1              5020    706
2              4969    482
3              4737    338
4              4861    320
5              4995    297
6              4743    288
7              4810    280
8              4902    274
9              4924    270
10             4912    227
11             4931    207
12             5032    167
13             5007    165
14             5053    156
15             5042    141
16             4974    130
17                1     58
18                8     54
19                0     37
20             5048     11
21             5014      7
22             4913      4
23             4791      3
24             4869      3
25             5046      2
26             4897      2
27             4887      2
28             5062      2
29             4850      2
30              863      2
31             1116      2
32             4857      2
33             4866      1
34             4745      1
35                2      1
36               13      1
37              721      1
38              834      1
39             1115      1
40             1131      1
41             1135      1
42             1136      1
43             4929      1
44             4759      1
45             4793      1
46             4918      1
47             4914      1
48             4799      1
49             4818      1
50             4911      1
51             4910      1
52             4823      1
53             4839      1
54             4879      1
55             4863      1

**ATT** shows the difference in treated group.   
**ATC** shows the difference in untreated group.   
**ATE** shows the weighted average difference between ATT and ATC.

In [6]:
result.resume

{'ATT': 210.45662254637134,
 'ATC': 253.84537914691947,
 'ATE': 232.4286888888889}

We can change **metric** and do estimation again.

In [7]:
c_data = copy.deepcopy(data)
test = Matching(metric="atc")
result = test.execute(c_data)

In [8]:
result.resume

{'ATC': 268.6681586800071}

In [9]:
result.full_data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444   NaN      M
1           1             8      1       512.5   462.222222  26.0    NaN
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

      industry  user_id_matched  signup_month_matched  treat_matched  \
0         True             4861                     0              0
1         True             5032                    10              1
2         True               -1                    -1             -1
3         True             4810                     8              1
4         True             5020                     7              1
...        ...              ...                   ...            ...
9995      True               -1                    -1             -1
9996      True               -1                    -1             -1
9997      True               -1                    -1             -1
9998      True               -1                    -1             -1
9999      True               -1                    -1             -1

      pre_spends_matched  post_spends_matched  age_matched gender_matched  \
0                  495.0           417.333333         61.0            NaN
1                  500.0           447.666667         20.0           True
2                   -1.0            -1.000000         -1.0           True
3                  481.0           480.444444          NaN              M
4                  479.0           469.333333          NaN           True
...                  ...                  ...          ...            ...
9995                -1.0            -1.000000         -1.0           True
9996                -1.0            -1.000000         -1.0             -1
9997                -1.0            -1.000000         -1.0           True
9998                -1.0            -1.000000         -1.0           True
9999                -1.0            -1.000000         -1.0           True

      industry_matched
0                 True
1                 True
2                 True
3                 True
4                 True
...                ...
9995              True
9996              True
9997              True
9998              True
9999              True

[10000 rows x 16 columns]

Also it is possible to search pairs only in **test group**. This way we have metric "auto" and **ATT** will be estimated.

In [10]:
c_data = copy.deepcopy(data)
test = Matching(two_sides=False)
result = test.execute(c_data)

In [11]:
result.resume

{'ATC': 210.45662254637134}

In [12]:
result.full_data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444   NaN      M
1           1             8      1       512.5   462.222222  26.0    NaN
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

      industry  user_id_matched  signup_month_matched  treat_matched  \
0         True             4861                     0              0
1         True               -1                    -1             -1
2         True               -1                    -1             -1
3         True             4810                     8              1
4         True               -1                    -1             -1
...        ...              ...                   ...            ...
9995      True               -1                    -1             -1
9996      True               -1                    -1             -1
9997      True               -1                    -1             -1
9998      True               -1                    -1             -1
9999      True               -1                    -1             -1

      pre_spends_matched  post_spends_matched  age_matched gender_matched  \
0                  495.0           417.333333         61.0            NaN
1                   -1.0            -1.000000         -1.0             -1
2                   -1.0            -1.000000         -1.0             -1
3                  481.0           480.444444          NaN              M
4                   -1.0            -1.000000         -1.0             -1
...                  ...                  ...          ...            ...
9995                -1.0            -1.000000         -1.0             -1
9996                -1.0            -1.000000         -1.0             -1
9997                -1.0            -1.000000         -1.0             -1
9998                -1.0            -1.000000         -1.0             -1
9999                -1.0            -1.000000         -1.0             -1

      industry_matched
0                 True
1                 True
2                 True
3                 True
4                 True
...                ...
9995              True
9996              True
9997              True
9998              True
9999              True

[10000 rows x 16 columns]

Finally, we may search pairs in L2 distance.

In [13]:
c_data = copy.deepcopy(data)
test = Matching(distance="l2", two_sides=False)
result = test.execute(c_data)

In [14]:
result.resume

{'ATC': 185.3725463713308}

In [15]:
result.full_data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444   NaN      M
1           1             8      1       512.5   462.222222  26.0    NaN
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

      industry  user_id_matched  signup_month_matched  treat_matched  \
0         True             4737                     1              1
1         True               -1                    -1             -1
2         True               -1                    -1             -1
3         True             4810                     8              1
4         True               -1                    -1             -1
...        ...              ...                   ...            ...
9995      True               -1                    -1             -1
9996      True               -1                    -1             -1
9997      True               -1                    -1             -1
9998      True               -1                    -1             -1
9999      True               -1                    -1             -1

      pre_spends_matched  post_spends_matched  age_matched gender_matched  \
0                  526.5           533.111111         24.0              F
1                   -1.0            -1.000000         -1.0             -1
2                   -1.0            -1.000000         -1.0             -1
3                  481.0           480.444444          NaN              M
4                   -1.0            -1.000000         -1.0             -1
...                  ...                  ...          ...            ...
9995                -1.0            -1.000000         -1.0             -1
9996                -1.0            -1.000000         -1.0             -1
9997                -1.0            -1.000000         -1.0             -1
9998                -1.0            -1.000000         -1.0             -1
9999                -1.0            -1.000000         -1.0             -1

      industry_matched
0                 True
1                 True
2                 True
3                 True
4                 True
...                ...
9995              True
9996              True
9997              True
9998              True
9999              True

[10000 rows x 16 columns]