# Matching pipline

The comparison method is used in statistical analysis to eliminate distortions caused by differences in the basic characteristics of the studied groups. Simply put, matching helps to make sure that the results of the experiment are really caused by the studied effect, and not by external factors.

Matching is most often performed in cases where the use of a standard AB test is impossible.

In [1]:
import copy

from hypex.dataset import Dataset, InfoRole, TreatmentRole, TargetRole 
from hypex import Matching

/home/codespace/.python/current/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Data preparation 

It is important to mark the data fields by assigning the appropriate roles:

* FeatureRole: a role for columns that contain features or predictor variables. Our split will be based on them. Applied by default if the role is not specified for the column.
* TreatmentRole: a role for columns that show the treatment or intervention.
* TargetRole: a role for columns that show the target or outcome variable.
* InfoRole: a role for columns that contain information about the data, such as user IDs.

In [2]:
data = Dataset(
    roles={
        "user_id": InfoRole(int),
        "treat": TreatmentRole(int), 
        "post_spends": TargetRole(float)
    }, data="data.csv",
)
data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444   NaN      M
1           1             8      1       512.5   462.222222  26.0    NaN
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

        industry
0     E-commerce
1     E-commerce
2      Logistics
3     E-commerce
4     E-commerce
...          ...
9995   Logistics
9996   Logistics
9997  E-commerce
9998  E-commerce
9999  E-commerce

[10000 rows x 8 columns]

In [3]:
data.roles

{'user_id': Info(<class 'int'>),
 'treat': Treatment(<class 'int'>),
 'post_spends': Target(<class 'float'>),
 'signup_month': Feature(<class 'int'>),
 'pre_spends': Feature(<class 'float'>),
 'age': Feature(<class 'float'>),
 'gender': Feature(<class 'str'>),
 'industry': Feature(<class 'str'>)}

## Simple Matching  
Now matching has 4 steps: 
1. Dummy Encoder 
2. Process Mahalanobis distance 
3. Two sides pairs searching by faiss 
4. Metrics (ATT, ATC, ATE) estimation depends on your data

In [4]:
data = data.fillna(method="backfill")

/workspaces/HypEx/hypex/dataset/backends/pandas_backend.py:385: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  return self.data.fillna(values, method=method, **kwargs)

In [5]:
c_data = copy.deepcopy(data)
test = Matching()
result = test.execute(c_data)

/workspaces/HypEx/hypex/dataset/backends/pandas_backend.py:385: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return self.data.fillna(values, method=method, **kwargs)
/workspaces/HypEx/hypex/dataset/backends/pandas_backend.py:385: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return self.data.fillna(values, method=method, **kwargs)

In [6]:
result.full_data

      user_id  signup_month  treat  pre_spends  post_spends   age  gender  \
0           0             0      0       488.0   414.444444  26.0    True
1           1             8      1       512.5   462.222222  26.0    True
2           2             7      1       483.0   479.444444  25.0    True
3           3             0      0       501.5   424.333333  39.0    True
4           4             1      1       543.0   514.555556  18.0    True
...       ...           ...    ...         ...          ...   ...     ...
9995     9995            10      1       538.5   450.444444  42.0    True
9996     9996             0      0       500.5   430.888889  26.0    True
9997     9997             3      1       473.0   534.111111  22.0    True
9998     9998             2      1       495.0   523.222222  67.0    True
9999     9999             7      1       508.0   475.888889  38.0    True

      industry  user_id_matched  signup_month_matched  treat_matched  \
0         True             9433                     1              1
1         True             5438                     0              0
2         True             5165                     0              0
3         True             1735                     1              1
4         True              539                     0              0
...        ...              ...                   ...            ...
9995      True             5893                     0              0
9996      True             7731                     1              1
9997      True             7066                     0              0
9998      True             1885                     0              0
9999      True             5748                     0              0

      pre_spends_matched  post_spends_matched  age_matched  gender_matched  \
0                  488.5           518.444444         37.0            True
1                  529.0           417.111111         23.0            True
2                  498.5           412.222222         25.0            True
3                  504.0           516.333333         33.0            True
4                  531.0           414.000000         20.0            True
...                  ...                  ...          ...             ...
9995               535.0           414.555556         40.0            True
9996               500.0           515.888889         25.0            True
9997               480.0           423.222222         22.0            True
9998               499.0           423.000000         67.0            True
9999               522.0           424.444444         36.0            True

      industry_matched
0                 True
1                 True
2                 True
3                 True
4                 True
...                ...
9995              True
9996              True
9997              True
9998              True
9999              True

[10000 rows x 16 columns]

In [7]:
result.full_data[["treat", 'treat_matched']].value_counts()

   treat  treat_matched  count
0      1              0   5064
1      0              1   4936

**ATT** shows the difference in treated group.   
**ATC** shows the difference in untreated group.   
**ATE** shows the weighted average difference between ATT and ATC.

In [8]:
result.resume

         ATT        ATC        ATE
0  64.343019  96.393761  80.573515

We can change **metric** and do estimation again.

In [9]:
c_data = copy.deepcopy(data)
test = Matching(metric="atc")
result = test.execute(c_data)

/workspaces/HypEx/hypex/dataset/backends/pandas_backend.py:385: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return self.data.fillna(values, method=method, **kwargs)
/workspaces/HypEx/hypex/dataset/backends/pandas_backend.py:385: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return self.data.fillna(values, method=method, **kwargs)

In [10]:
result.resume

         ATC
0  96.393761

In [11]:
result.full_data

      user_id  signup_month  treat  pre_spends  post_spends   age  gender  \
0           0             0      0       488.0   414.444444  26.0    True
1           1             8      1       512.5   462.222222  26.0    True
2           2             7      1       483.0   479.444444  25.0    True
3           3             0      0       501.5   424.333333  39.0    True
4           4             1      1       543.0   514.555556  18.0    True
...       ...           ...    ...         ...          ...   ...     ...
9995     9995            10      1       538.5   450.444444  42.0    True
9996     9996             0      0       500.5   430.888889  26.0    True
9997     9997             3      1       473.0   534.111111  22.0    True
9998     9998             2      1       495.0   523.222222  67.0    True
9999     9999             7      1       508.0   475.888889  38.0    True

      industry  user_id_matched  signup_month_matched  treat_matched  \
0         True             9433                     1              1
1         True             5438                     0              0
2         True             5165                     0              0
3         True             1735                     1              1
4         True              539                     0              0
...        ...              ...                   ...            ...
9995      True             5893                     0              0
9996      True             7731                     1              1
9997      True             7066                     0              0
9998      True             1885                     0              0
9999      True             5748                     0              0

      pre_spends_matched  post_spends_matched  age_matched  gender_matched  \
0                  488.5           518.444444         37.0            True
1                  529.0           417.111111         23.0            True
2                  498.5           412.222222         25.0            True
3                  504.0           516.333333         33.0            True
4                  531.0           414.000000         20.0            True
...                  ...                  ...          ...             ...
9995               535.0           414.555556         40.0            True
9996               500.0           515.888889         25.0            True
9997               480.0           423.222222         22.0            True
9998               499.0           423.000000         67.0            True
9999               522.0           424.444444         36.0            True

      industry_matched
0                 True
1                 True
2                 True
3                 True
4                 True
...                ...
9995              True
9996              True
9997              True
9998              True
9999              True

[10000 rows x 16 columns]

Also, it is possible to search pairs only in **test group**. This way we have metric "auto" and **ATT** will be estimated.

In [12]:
c_data = copy.deepcopy(data)
test = Matching(two_sides=False)
result = test.execute(c_data)

/workspaces/HypEx/hypex/dataset/backends/pandas_backend.py:385: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return self.data.fillna(values, method=method, **kwargs)
/workspaces/HypEx/hypex/dataset/backends/pandas_backend.py:385: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return self.data.fillna(values, method=method, **kwargs)

In [13]:
result.resume

         ATT
0  64.343019

In [14]:
result.full_data[["treat", 'treat_matched']].value_counts()

   treat  treat_matched  count
0      1              0   5064
1      0             -1   4936

Finally, we may search pairs in L2 distance.

In [15]:
c_data = copy.deepcopy(data)
test = Matching(distance="l2", two_sides=False)
result = test.execute(c_data)

/workspaces/HypEx/hypex/dataset/backends/pandas_backend.py:385: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return self.data.fillna(values, method=method, **kwargs)
/workspaces/HypEx/hypex/dataset/backends/pandas_backend.py:385: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return self.data.fillna(values, method=method, **kwargs)

In [16]:
result.resume

         ATT
0  64.182315

In [17]:
result.full_data

      user_id  signup_month  treat  pre_spends  post_spends   age  gender  \
0           0             0      0       488.0   414.444444  26.0    True
1           1             8      1       512.5   462.222222  26.0    True
2           2             7      1       483.0   479.444444  25.0    True
3           3             0      0       501.5   424.333333  39.0    True
4           4             1      1       543.0   514.555556  18.0    True
...       ...           ...    ...         ...          ...   ...     ...
9995     9995            10      1       538.5   450.444444  42.0    True
9996     9996             0      0       500.5   430.888889  26.0    True
9997     9997             3      1       473.0   534.111111  22.0    True
9998     9998             2      1       495.0   523.222222  67.0    True
9999     9999             7      1       508.0   475.888889  38.0    True

      industry  user_id_matched  signup_month_matched  treat_matched  \
0         True               -1                    -1             -1
1         True             2490                     0              0
2         True             5493                     0              0
3         True               -1                    -1             -1
4         True              321                     0              0
...        ...              ...                   ...            ...
9995      True             5893                     0              0
9996      True               -1                    -1             -1
9997      True             8670                     0              0
9998      True              507                     0              0
9999      True             7155                     0              0

      pre_spends_matched  post_spends_matched  age_matched  gender_matched  \
0                   -1.0            -1.000000         -1.0            True
1                  511.5           417.444444         27.0            True
2                  483.0           408.000000         25.0            True
3                   -1.0            -1.000000         -1.0            True
4                  538.0           421.444444         29.0            True
...                  ...                  ...          ...             ...
9995               535.0           414.555556         40.0            True
9996                -1.0            -1.000000         -1.0            True
9997               473.0           415.777778         22.0            True
9998               495.0           429.777778         67.0            True
9999               509.5           415.000000         38.0            True

      industry_matched
0                 True
1                 True
2                 True
3                 True
4                 True
...                ...
9995              True
9996              True
9997              True
9998              True
9999              True

[10000 rows x 16 columns]